<p id="notice"><%= notice %></p>

<figure class="image is-3by1">
  <%= image_tag @post.featured_image %>
</figure>

</br>

<div class="columns">
  <div class="column">
    <p class="title">
      <%= @post.title %>
    </p>
    <p>
      <strong>Author:</strong>
      <%= @post.author %>
    </p>
  </div>
</div>

<div class="columns">
  <div class="column is-three-quarters">
    <%= @post.content %>
  </div>
</div>

<div class='row'>
  <%= link_to 'Edit', edit_post_path(@post) %>
  </br>
  <%= link_to 'Back', posts_path %> 
</div>

